<img src="<%=bgImg%>" class="bg-image">
  <main>
    <h3 class="destination-header">01 Pick your destination</h3> 
    <div class="destination-grid">
      
      <div>
        <img class="destination-img" src=<%=destImg%>>
      </div>
     
      <div> 
        <header class="destination-nav" id="destination-nav">
          <ul>
            <li><a href="/destination-moon">MOON</a></li>
            <li><a href="/destination-mars">MARS</a></li>
            <li><a href="/destination-europa">EUROPA</a></li>
            <li><a href="/destination-titan">TITAN</a></li>
          </ul>
        </header>

        <div class="destination-topic">
          <h1><%=name%></h1>
          <p><%=description%></p>
          <hr>    
          <div class="destination-topic--grid">
            <div class="destination-container">
              <p>Avg. distance</p>
              <h3><%=distance%></h3>
            </div>

            <div class="destination-container">
              <p>Est. travel time</p>
            <h3><%=travel%></h3>
            </div>
          </div>
          
          
        </div>
        
       
      
        
        
      </div>
     
    
    
      
    </div>
 
  </main>
  